<h1><span data-i18n="skills.my_skills">Sobre mim</span></h1>

<div>
    Acadêmico do Curso de Graduação em Engenharia Ambiental e Energias Renováveis (2016) ofertado pela Universidade Federal Rural da Amazônia, Campus de Capanema-PA. Apaixonado por Linguagens de Programação, Machine Learning e Web Scraping. Atualmente, é membro fundador de uma empresa de tecnologia chamada <a href="https://lohjati.com.br" target="_blank"> LohJa - Soluções em TI</a>. Já exerceu atividades administrativas junto a órgãos público-municipais e, nas horas vagas, prefere Machado de Assis a Paulo Coelho (não que seja possível comparar).
</div>