<h1><span data-i18n="skills.my_skills">Sobre mim</span></h1>

<div>
    Meu nome é Jackson. Sou graduado em Análise e Desenvolvimento de Sistemas e, atualmente, curso Especialização em Automação de Processos com foco em RPA e Hiperautomação. Além disso, pesquiso e escrevo trabalhos acadêmicos voltados para Engenharia de Sofware (Padrões de Projeto) e Automação de Processos.
    <p>
    Trabalho com desenvolvimento de software há mais de 7 (sete) anos. Atuo como Desenvolvedor Back-end e RPA.
    <p>
    Meus colegas de trabalho costumam me descrever como criativo, motivado e proativo quando enfrento desafios. Estou sempre em busca de novas oportunidades que me permitam crescer profissionalmente, aplicar meus conhecimentos e contribuir para o desenvolvimento de soluções tecnológicas inovadoras.
    <p>
    Se você estiver interessado em discutir possíveis colaborações, fique à vontade para entrar em contato comigo. 😊
</div>