{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <a href="{{ site.url }}/">
    <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar">
  </a>
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>
  <span class="author_job">{{ author.job }}</span>
  
  {% include social-links.html %} 
  <hr>
  <a href="https://pag.ae/7W3osZhKt" target="_blank"><img src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/205x30-doar-laranja.gif"></a>  
</div>
